registry=https://vyopta.jfrog.io/vyopta/api/npm/npm/
_auth=${ARTIFACTORY_USERNAME}:${ARTIFACTORY_PASSWORD_BASE64}
email=${ARTIFACTORY_EMAIL}
always-auth=true
@vyopta:registry=https://vyopta.jfrog.io/vyopta/api/npm/npm/
//vyopta.jfrog.io/vyopta/api/npm/npm/:_password=${ARTIFACTORY_PASSWORD_BASE64}
//vyopta.jfrog.io/vyopta/api/npm/npm/:username=${ARTIFACTORY_USERNAME}
//vyopta.jfrog.io/vyopta/api/npm/npm/:email=${ARTIFACTORY_EMAIL}
//vyopta.jfrog.io/vyopta/api/npm/npm/:always-auth=true
